
@{
    ViewData["Title"] = "Login";
}
@model ProjectVIS.Models.Driver

<br />
<br />
<h2>Login</h2>

<form asp-controller="Home" asp-action="Login" method="post">

    <label>Login</label>
    <input id="login" name="login" type="number" placeholder="Enter your login" />
    @*<span class="text-danger" asp-validation-for="ID"></span>*@


    <br />

    <label>Password</label>
    <input id="password" name="password" placeholder="Enter your password" />
    @*<span class="text-danger" asp-validation-for="Password"></span>*@

    <button type="submit" formmethod="post">Login</button>
</form>